:root {
  --text: #35332e;
  --muted: #77736a;
  --ink: #202622;
  --bg: #f8f2df;
  --border: #d9d0bb;
  --accent: #de5c34;
  --sans: 'Trebuchet MS', sans-serif;
  --heading: Georgia, serif;
  --mono: 'Courier New', monospace;
  font: 16px/145% var(--sans);
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#root {
  min-height: 100svh;
}

body {
  margin: 0;
}

h1, h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--ink);
}
h1, h2, p { margin-top: 0; }
